@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Roboto', serif;
}
header {
    background-color: #555;
    width: 100%;
    height: 8vh;
}
header .menu-header{
    display: flex;
    justify-content: center;
}
.menu-header a{
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
    transition: 0.2s;
}
.menu-header a:hover{
    color: #1777a0;
}
body {
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
section .container {
    position: absolute;
    top: 25vh;
    left: 70vmax;
    background-color: #7e6d6d;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
section .info {
    position: absolute;
    top: 16vh;
    left: 12vmax;
}
.info h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}
.container form .input-field {
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    font-size: 1rem;
    padding-left: 10px;
    height: 8vh;
    border-radius: 7px;
    outline: none;
    color: black;
}
.container form .input-label {
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    font-size: 1rem;
    padding-left: 10px;
    height: 8vh;
    border-radius: 7px;
    outline: none;
    color: black;
}
.container .btn-cadastro {
    position: absolute;
    top: 35vh;
    left: 6.5vmax;
    padding: 1vh 1vmax;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s;
}
.container .btn-cadastro:hover {
    color: #1777a0;
}
.container .btn {
    position: absolute;
    font-size: 0.9rem;
    top: 27vh;
    left: 6vmax;
    padding: 1vh 3vmax;
    color: black;
    border-radius: 15px;
    cursor: pointer;
}
footer {
    position: absolute;
    top: 92vh;
    background-color: #555;
    width: 100%;
    height: 8vh;
}
footer span {
    display: flex;
    justify-content: end;
    margin-right: 7.5vmax;
}
footer span a{
    margin-top: 2vh;
    margin-right: 2vmax;
    text-decoration: none;
    transition: 0.2s;
    font-size: 1rem;
}
footer span a:hover{
    color: #1777a0;
}
footer p {
    position: absolute;
    left: 7vmax;
    bottom: 2.5vh;
    color: #b9b5b5;
    cursor:default;
}